[Unit]
Description=Authentication server for nginx
BindsTo=nginx.service


[Service]
RuntimeDirectory=auth-server
Environment="SECRET_FILE=/srv/http/data/auth-secret"
Environment="LISTEN=unix:/run/auth-server/listen.sock"
Environment="SOCKET_GROUP=http-auth"

ExecStart=/usr/bin/auth-server
Restart=on-failure

DynamicUser=yes
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectControlGroups=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

SupplementaryGroups=http-auth

[Install]
WantedBy=multi-user.target
